body {
    font-family: Arial, sans-serif;
    background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTF1MXNiZTg1ZzBleGVkeTNnd2trdTdqbG5zYXkxbTI0MjZwaWFraCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEjI0UdFkyLtpFJN6/giphy.gif');
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 50px; 
}

header {
    background-color: rgba(0,0,0,0.5); 
    color: white; 
    padding: 20px 0;
    text-align: center;
    font-size: 24px; 
}

#yearSelection, #monthSelection {
    text-align: center;
    padding-top: 20px;
    color: white;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5); 
    color: white;
    border: none; 
    border-radius: 5px; 
}

button:hover {
    background-color: rgba(0,0,0,0.7);
}

footer {
    background-color: rgba(0,0,0,0.5); 
    color: white; 
    padding: 10px 0; 
    text-align: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

footer p {
    margin: 5px 0; 
}

.made-by {
    font-style: italic; 
}
















/*
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#calendar-container {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
}

#days-of-week {
    display: flex;
    background-color: #eee;
    padding: 10px 0;
}

#days-of-week div, #calendar-days div {
    flex: 1;
    text-align: center;
}

#calendar-days {
    display: flex;
    flex-wrap: wrap;
}
*/